@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("font-awesome.min.css");

/* Reset */
.addthis_toolbox { background: url(linkedin.png) left center no-repeat; color: #94999d; padding:0; height:18px; width:49px; }

/* Basic */

  body {
    background-image: url("images/overlay.png"), url("images/bg.jpg");
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 300;
    /*color: #777777;*/
    /*font-family: Verdana, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;*/
    /*background: #003255;*/
    color: #333;
    margin:0;
    padding:0;
    line-height: 135%;
  }

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}


/* Footer */

	#footer {
		color: #ccc;
		color: rgba(255, 255, 255, 0.45);
	}

		#footer a {
			color: #ddd;
			color: rgba(255, 255, 255, 0.65);
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}

			#footer a:hover {
				color: white;
			}

		#footer .copyright li {
			display: inline-block;
		}

			#footer .copyright li:before {
				display: inline;
				content: '\2022';
				opacity: 0.5;
				padding: 0 0.75em 0 0.75em;
			}

			#footer .copyright li:first-child:before {
				display: none;
			}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Footer */

			#footer {
				align: center;
				padding: 2em 0 0 0;
				font-size: 0.85em;
			}

				#footer .copyright li {
					display: block;
				}

					#footer .copyright li:before {
						display: none;
					}

	}
